hdbscan==0.8.40
numpy==2.2.5
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==11.2.1
pytorch_lightning==2.5.0.post0
pytorch_metric_learning==2.8.1
sampler==0.2.0
scikit_learn==1.6.1
torch==2.5.1
torchvision==0.20.1
ultralytics==8.3.68
umap_learn==0.5.7
